

 @media only screen 
    and (device-width : 375px) 
    and (device-height : 667px) 
    and (-webkit-device-pixel-ratio : 2) { 
    h1{ 
    		font-family: arial;
    		font-size: 1em;

    	}

    body { 
    		font-size: 12pt; }

}

